Include details of which spatial relationships are published as IANA Link relations

In point (RH63) of her [email to the WG](https://lists.w3.org/Archives/Public/public-sdw-wg/2016Jan/0025.html), Rachel says:

<em>Can we indicate which of these [spatial relationships] are already in the IANA registry or not?
Could this group do the work of registering or creating properties for the missing ones that we can see would be useful e.g. `samePlaceAs`</em>


At the Sapporo F2F meeting we agreed that we, the SDW WG, could and _should_ register the commonly used spatial relationships in the IANA registry. @philarcher1 is on point here?


My usual point of contact for the IANA Link Registry [1] is Mark 
Nottingham. The process for adding new Link relations is described in 
section 6.2.1 of RFC 5988 [2].

I suggest that a future version of the BP doc includes a specific 
section listing the relationships to be added, either in the main body 
of the document or in an appendix. As RFC 5988 specifies, it needs to 
include:

  o  Relation Name:

  o  Description:

  o  Reference:

  o  Notes: [optional]

  o  Application Data: [optional]

During TPAC I asked MNott about whether the spec needs to be Rec Track - 
it doesn't, it just needs to be stable and part of an open process - so 
the BP doc is perfectly fine for this.

Are we just going to do the spatial ones or shall we do the Allen's 
Calculus temporal ones at the same time?

Phil.

[1] http://www.iana.org/assignments/link-relations/link-relations.xhtml
[2] http://tools.ietf.org/html/rfc5988#section-6.2.1

On 14/01/2016 13:28, Jeremy Tandy wrote:

> At the Sapporo F2F meeting we agreed that we, the SDW WG, could and _should_ register the commonly used spatial relationships in the IANA registry. @philarcher1 is on point here?
> 
> ---
> 
> Reply to this email directly or view it on GitHub:
> https://github.com/w3c/sdw/issues/215#issuecomment-171644868

## 

Phil Archer
W3C Data Activity Lead
http://www.w3.org/2013/data/

http://philarcher.org
+44 (0)7887 767755
@philarcher1


ISSUE added to the [BP detailed planning wiki page](https://www.w3.org/2015/spatial/wiki/Detailed_planning_BP_document#open_ISSUES) so we don't forget this.

We decided to defer this until a later date, see [minutes][1]

[1]: http://www.w3.org/2017/03/20-sdw-minutes